################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.Net-learning/FileContentIndex
/oop/.vs/oop
/Inheritance/.vs/Inheritance/FileContentIndex/157fceed-a91d-4b3f-90a2-88931c570d61.vsidx
/Inheritance/.vs/Inheritance
